body{background-color: rgb(0, 0, 0);}
a{color: rgb(0, 0, 0);}
a:hover {color: rgb(255, 255, 255); text-decoration: none;}
a:active {color: rgba(60, 225, 63, 0.641); text-decoration: none;}
td{
	font-size: 15px;
}
h1:hover {
	color: rgb(235, 19, 19);
}
td:hover {
	color: rgb(22, 230, 101);
}
h1{
	font-size: 50px;
}
table{
	border-color: #000000;
}
table:hover{
	border-color: #ffffff;
}
tr:hover {
	border-color:  #ff0000;
}