body{background-color: #ffffff;}
a{color: white;}
a:hover {color: black; text-decoration: none;}
a:active {color: rgba(60, 225, 63, 0.641); text-decoration: none;}
h1:hover {
	color: rgb(235, 19, 19);
}
td:hover {
	color: rgb(22, 230, 101);
}